#item-list {
  .form {
    display: flex;
    margin-bottom: 20px;
  }
  .form input[type='text'] {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #e5e9ed;
    background: #fff;
    border-right: none;
    padding-left: 20px;
    outline: 0;
    border-radius: 5px 0px 0px 5px;
    flex: 1;
  }

  .form button {
    border: 1px solid #e5e9ed;
    background: #fff;
    border-left: none;
    border-radius: 0 5px 5px 0;
    padding: 12px 20px;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}
